.AnchorPane{
    -fx-background-image:url('/mainMenu/menuAssets/Tile_Background.jpg')
}
.buttonBar{
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-background-image: url('/mainMenu/menuAssets/Wood_Background3.jpg');
}
.gameBackground{
    -fx-background-image: url('/mainMenu/menuAssets/background.jpg');
}